<form>
<p><form-title param_="true"/></p>
<fieldset>
<legend>Personal information:</legend>
First name:<br/>
<input type="text" name="firstname" name_="fname" value="Mickey"/>
<br/>
Last name:<br/>
<input type="text" name="lastname" name_="lname" value="Mouse"/>
<br/>
<input type="text" name="comment"/>
<br/>
<input type="checkbox" name="check" value="false"/>
<br/>
<textarea name="code">
let x = 1
</textarea>
<br/>
<input type="submit" value="Submit"/></fieldset>
</form>