<page title="Ojs-base"
main_="true"
stog:site-description="Components for OCaml/Javascript applications"
stog:site-email="zoggy 'AT' bat8 'DOT' org"
stog:site-url="https://zoggy.frama.io/ojs-base"
stog:rss-length="10"
navbar-home="active"
with-contents="true"
section-counter="false"
subsection-counter="false"
>
<ml foo=""><icode defer_="1" lang="ocaml"><contents/></icode></ml>
<release version="" date="">
<if version=""><error_>&lt;release&gt;: missing version</error_></if>
<if date=""><error_><version/>: missing date</error_></if>
<li><a href="https://framagit.org/zoggy/ojs-base/-/archive/&lt;version/&gt;/ojs-base-&lt;version/&gt;.tar.bz2"><version/></a>
<span class="date">[<date/>]</span>:
<contents/>
</li>
</release>

<contents>
<p>
<site-description/>.
</p>
<p>This is work in progress, interfaces will change. It is currently used
by the <ext-a href="https://www.good-eris.net/stog/server.html">preview
server</ext-a> of Stog (&gt;= 0.14.0).
</p>
<section id="download" title="Download">
<p>
Ojs-base is <ext-a href="https://framagit.org/zoggy/ojs-base">hosted on Framagit</ext-a>.
</p>

<subsection id="releases" title="Releases">
<ul>
<release version="0.7.0" date="2021/11/25">
<ul><li>Une dune, rename packages,</li>
<li>use Xtmpl 0.19.0.</li>
</ul>
</release>
<release version="0.6.0" date="2021/05/18">
<ul><li>Upgrade to ocaml 4.12.0, Js_of_ocaml 3.9.0, websocket 2.14, ...</li></ul>
</release>
<release version="0.5.0" date="2016/10/26">
<ul>
<li>upgrade to OCaml 4.03.0.</li>
</ul>
</release>
<release version="0.4.0" date="2021/11/25">
<ul>
<li>use Xtmpl &gt;= 0.13.0.</li>
</ul>
</release>
<release version="0.3.0" date="2015/07/07">
<ul>
<li>add features to the editor,</li>
<li>module renaming,</li>
<li>lots of changes :)</li>
</ul>
</release>
<release version="0.2.0" date="2014/10/27">
Use <ext-a href="https://github.com/whitequark/ppx_deriving_yojson/">ppx-deriving-yojson</ext-a> 2.0.</release>
</ul>
</subsection>
</section>

<section id="install" title="Installation">
<p>
To be installed, Ojs-base requires:
</p>
<ul>
<li>OCaml &gt;= 4.03.0,</li>
<li><ext-a href="http://ocsigen.org/js_of_ocaml">Js_of_ocaml and Js_of_ocaml-lwt &gt;= 3.9.0</ext-a>,</li>
<li><ext-a href="http://ocsigen.org/lwt/">Lwt &gt;= 5.4.0</ext-a>,</li>
<li><ext-a href="https://github.com/mirage/ocaml-cohttp">Cohttp &gt;= 4.0.0</ext-a>,</li>
<li><ext-a href="https://github.com/vbmithr/ocaml-websocket/">Websocket and Websocket-lwt-unix &gt; 2.14</ext-a>,</li>
<li><ext-a href="http://mjambon.com/yojson.html">Yojson &gt;= 1.7.0</ext-a>,</li>
<li><ext-a href="https://github.com/whitequark/ppx_deriving_yojson/">Ppx-deriving-yojson &gt;= 3.6.1</ext-a>.</li>
<li><ext-a href="https://github.com/mirage/ocaml-base64/">Base64 &gt;= 3.5.0</ext-a>.</li>
<li><ext-a href="https://www.good-eris.net/xtmpl/">Xtmpl &gt;= 0.19.0</ext-a>.</li>
<li><ext-a href="https://github.com/mirage/ocaml-magic-mime/">Magic-mime &gt;= 1.2.0</ext-a>.</li>
</ul>
<p>To compile and install:
</p>
<ul>
<li><span class="shell">tar xvfz ojs-base-XXX.tar.gz</span></li>
<li><span class="shell">cd ojs-base-XXX</span></li>
<li><span class="shell">make all install</span></li>
</ul>
<p>
This will install the <icode>ojs_*</icode> packages with dune.
</p>
<p>You can also install with <ext-a href="http://opam.ocaml.org/">Opam</ext-a>:</p>
<command-line>opam install ojs_base_all</command-line>
</section>

<section id="doc" title="Documentation">
<p>
Reference documentation is <a href="refdoc/index.html">here</a>.
</p>
<p>An example is in the
<code><a href="https://framagit.org/zoggy/ojs-base/-/tree/master/src">example</a></code> directory.
</p>
</section>

<section id="license" title="License">
<p>
Ojs-base is released under the <ext-a href="http://www.gnu.org/licenses/gpl.html">GPL v3</ext-a>.
</p>
</section>

<section id="contact" title="Author and contact">
<p>
Maxence Guesdon <tt>&lt;Maxence 'DOT' Guesdon 'AT' inria 'DOT' fr&gt;</tt>
</p>
</section>
</contents>
</page>
